 .blog {

   // .blog__heading

   &__heading {
     justify-content: space-between;
     margin-bottom: 20px;
     display: flex;
     align-items: center;
   }

   // .blog__title

   &__title {
     font-size: 24px;
     @include bold;

   }

   // .blog__link-more

   &__link-more {
     font-size: 16px;

   }

   &-list {

     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;

     // .blog-list__card

     &__card {
       box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
       margin-bottom: 40px;

       &:hover {
         box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
       }
     }

     // .blog-list__text

     &__text {
       align-items: center;
       text-align: center;
       min-height: 80px;
       justify-content: center;
       display: flex;
     }
   }

   &-card {

     // .blog-card__img

     &__img {
       height: 200px;
       overflow: hidden;
     }
   }

 }



 @media (max-width: 1199px) {

   .blog-list {
     justify-content: space-around;
   }

   .blog-list__card {
     margin-right: 30px;
     margin-left: 30px;
   }
 }


 @media (max-width: 576px) {
   .blog__heading {
     flex-direction: column;
   }

   .blog__title{
    text-align: center;
   }

 }