 .catalog {

   background-color: #f1f1f1;
   padding-bottom: 100px;

   &-block {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
   }

   &-card {

     max-width: 570px;
     position: relative;
     box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
     overflow: hidden;

     &:hover {
       box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.6);
     }

     // .catalog-card__img
     &:hover .catalog-card__buttons {

       transform: translateY(0);
       opacity: 1;
     }

     &__img {
       display: block;
     }

     // .catalog-card__tag

     &__tag {
       position: absolute;
       top: 10px;
       left: 10px;
       padding: 10px;
       font-size: 12px;
       text-transform: uppercase;
       color: #ffffff;
       background-color: rgba(80, 127, 225, 1);

       &:hover {
         background-color: rgba(80, 127, 225, 0.6);
       }

     }

     &__buttons {
       position: absolute;
       bottom: 0;
       right: 0;
       display: flex;
       transition: 0.2s;
       opacity: 0;
       outline: none;
       border: none;
       transform: translateY(100%);
     }

     &__button {

       font-size: 11px;
       border: none;
       text-transform: uppercase;
       padding: 10px;
       height: 30px;

     }
   }

   &-link {
     text-align: center;
     margin-top: 60px;


     &__btn {

       margin-bottom: 24px;
       padding: 29px 32px;
     }
   }

   &__description {
     font-size: 16px;
   }
 }

 .catalog__card {
   margin-bottom: 30px;
 }

 @media (max-width: 1399px) {
   .catalog-card {
     max-width: 500px;
   }

   .catalog-block {

     justify-content: space-around;
   }
 }

 @media (max-width: 1259px) {
   .catalog-card {
     max-width: 480px;
   }

   .catalog-block {

     justify-content: space-around;
   }
 }

 @media (max-width: 1199px) {
   .catalog-card {
     max-width: 500px;
   }

   .catalog-block {

     justify-content: center;
   }

 }


 @media (max-width: 576px) {
   .catalog-card__tag {
     display: none;
   }

 }