 .factory {
   padding-top: 0px;
 }

 .factory-block {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   // .factory-block__image



   // .factory-block__text

   &__text {
     margin-left: 70px;
     flex-basis: 50%;
     font-size: 20px;
   }
 }



 @media screen and (max-width:991px) {
   .factory-block__text {
     margin-left: 0px;
     margin-left: 0px;
     flex-basis: 100%;
   }
 }