.feature {
  &-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // .feature__item

  &__item {
    flex-basis: 33%;
    text-align: center;
  }


  // .feature__text

  &__text {
    font-size: 20px;
  }
}


@media (max-width: 576px) {
  .feature {
    &__item {
      flex-basis: 100%;
      text-align: center;
    }
  }
}