.offer {
  padding: 129px 0;

  // .offer__block
  &__block {
    background: white url('../img/form-bg.jpg') no-repeat right center;
    background-size: contain;
    padding: 80px;
    margin-top: -200px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }

  // .offer__title

  &__title {
    font-size: 25px;
    @include bold;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  // .offer__subtitle

  &__subtitle {
    display: block;
    font-size: 21px;
    margin-bottom: 40px;
    max-width: 750px;
  }

  // .offer__form


}


.form {

  // .form__row

  &__row {
    display: flex;
    align-items: center;
    max-width: 900px;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // .form__group

  &__group {
    flex-basis: 33.33%;
  }


  &__cheackbox {
    display: flex;
    align-items: center;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  // .form__label

  &__label {
    font-size: 17px;
    display: block;
    margin-bottom: 10px;
  }

  // .form__input

  &__input {

    width: 100%;
  }

  &__select {
    outline: none;
    cursor: pointer;
  }

  &__btn {
    width: 100%;
    height: 60px;
  }

  &__policy {
    width: 320px;
    display: block;
    margin-left: 60px;
  }
}


.bg--secondary {
  background: url('../img/bg-offer-second.png')no-repeat center right;
  background-size: contain;

}


.label--square {

  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: inline-block;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
  }
}

.form--active:checked+.label--square::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}




@media screen and (max-width:1199px) {
  .offer {


    // .offer__block
    &__block {
      background-position: center right -120px;
    }
  }
}

@media (max-width: 991px) {
  .offer-block {
    background: none;
    background-color: #ffffff;
    padding: 40px;
  }

  .form__row {
    flex-direction: column;
  }

  .form__row--checkbox {
    flex-direction: row;
  }

  .form__group {

    flex-basis: 100%;
    width: 100%;
  }

  .form__policy {
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
  }
}

@media screen and (min-widht:577px) and (max-width:768px) {



  .bg--secondary {
    margin-top: -250px;
  }

  .offer {

    // .offer__block
    &__block {
      background: none;
      padding: 40px;
      background-color: white;
      margin-top: -350px;


    }

    .form {
      &__row {
        flex-direction: column;
      }

      &__row--checkbox {
        flex-direction: row;
      }

      &__group {
        flex-basis: 100%;
        width: 100%;
      }

      &__input {
        margin-bottom: 20px;
      }
    }
  }

}

@media screen and (max-width:576px) {
  .offer {

    // .offer__block
    &__block {
      background: none;
      padding: 40px;
      background-color: white;
      margin-top: -350px;


    }
  }

  .bg--secondary {
    margin-top: -100px;
  }

  .form__row--checkbox {
    flex-direction: column;
    align-items: baseline;
  }

  .form__btn {
    white-space: normal;
  }

  .label--square {
    margin-bottom: 20px;
  }
}