 .questions {

   // .questions__title

   &__title {
     font-size: 30px;
   }

   // .questions__link

   &__link {
     font-size: 24px;
     color: #507fe1;
   }
 }

 .questions-block {
   display: flex;
   max-width: 800px;
   margin: auto;

   align-items: center;
   justify-content: space-around;
 }