@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
    url('../dist/fonts/#{$file_name}.ttf') format('truetype'),
    url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@mixin bold {
  font-family: 'ProximaNova-Semibold', sans-serif;
}

@import 'fonts';
@import 'animation';
@import 'interface';
@import 'block/header';
@import 'block/navbar';
@import 'block/menu';
@import 'block/hero';